
@{
    ViewBag.Title = "Create";
}

<h2>Student Form</h2>
<form action="/Student/Store" method="post">
    <div>
        <label>Fullname</label>
        <input type="text" name="fullName" />
    </div>
    <div>
        <label>Pwd</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
